.search-container {
    margin-block-end: 6rem;
}

.search {
    max-width: 100%;
}

.gallery-container {
    margin: 0 0 1rem 0;
}

.gallery {
    margin: 1rem 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 1rem;
}

.gallery img {
    transition: 200ms;
    border-radius: 0.3rem;

}

.gallery img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

