* {
    box-sizing: border-box;
}

/* BASIC */

html {
    font-size: 16px;
    color: #fff;
}

body {
    margin: 0;
    position: relative;
    background-color: rgb(50, 51, 58);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

img {
    max-width: 100%;
}

/* Layout */

.container {
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/* Elements */

header {
    height: 5rem;
    background-color: #000;
    margin-block-end: 25px;
}

.header-container {
    font-size: 1.5rem;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1000px) {
    
    .container {
        width: 960px;
    }

}
